body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

.wrapper {
    margin: 40px 50px;
    width: 640px;
}

.wrapper p.lead {
    font-size: 18px;
}

.wrapper p a {
    color: #ea8f20;
    font-weight: bold;
    text-decoration: none;
}

.curse {
    color: #fbad12;
}

#widget {
    border: none;
    margin-top: 20px;
    width: 100%;
}

.new {
  color: #ff4102;
  font-weight: bold;
  text-transform: uppercase;
}

abbr {
  font-weight: bold;
  border-bottom: dotted 1px;
}