html, body {
  margin: 0px;
  padding: 0px;
}

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
}

.content {
  @include outer-container;
  margin: 0px;
}

.introduction {
  @include container;
  background-color: #fbad12;
  color: #fff;

  a {
    color: #fff;
    font-weight: bold;
  }

  h1 {
    margin: 0px;
  }

  .lead {
    font-size: 18px;
  }
}

.demo {
  @include container;
  background-color: #eee;

  .widget {
    border: none;
    width: 100%;
  }
}

.documentation {
  @include container;
  padding-top: 10px;

  abbr {
    font-weight: bold;
    border-bottom: dotted 1px;
  }

  a {
    color: #ea8f20;
    font-weight: bold;
    text-decoration: none;
  }
}