.wizard {
  padding: 50px 40px;
  background-color: #eee;
  // The wizard is Javascript only, by default we'll hide the wizard completely
  // and then use Javascript to show it, hopefully it'll be fast enough to go
  // un-noticed :-)
  display: none;

  input.project-url {
    background-color: #eee;
    border: none;
    font-size: 50px;
    outline: none;
    padding: 10px;
    width: 100%;
  }

  input.project-url:focus {
    border: none;
  }

  .creator {
    @include outer-container;
    display: none;
    margin: 0px;

    .project {
      font-weight: bold;

      a {
        color: #fbad12;
        font-weight: bold;
      }

    }

    .versions {
      @include span-columns(12);
      margin: 0px;
      padding: 0px;

      .version {
        @include span-columns(4 of 12);
        @include omega();
        background-color: #fff;
        border-radius: 4px;
      }
    }
  }

}