{% extends 'widget-template.html' %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/{{ assets['widgets/widget.default.css'] }}"/>
{% endblock %}

{% block widget %}
<div class="wrapper">
	<div class="thumb">
		<img src="{{ thumbnail }}" alt="Thumbnail of {{ title }}"/>
	</div>
	<div class="meta">
		<span class="line lead">
			<a href="{{ url }}" title="{{ title }}" target="_blank" id="title-link">
				{{ title }}
			</a>
			<small>by {{ authors|first }}</small>
		</span>
		<span class="line smaller">
			Latest v{{ download.version }} File:
			<span class="file-name" title="{{ download.name }}">
				{{ download.name|length > 30 ? download.name[:27] ~ '...' : download.name }}
			</span>
			{% if download.type == "beta" %}<span class="beta">beta!</span>{% endif %}
		</span>
		<span class="line small">
			{{ downloads.total|number_format }} Downloads
			<span class="quiet">{{ downloads.monthly|number_format }} Monthly</span>
		</span>
		<span class="line small">
			{{ game }} v{{ download.version }}
			<span class="quiet">Updated {{ download.created_at|date("Y/m/d") }}</span>
		</span>
		<div class="line bottom">
			<div class="btn-group">
				<a href="{{ download.url }}" class="btn btn-sm btn-curse" target="_blank" id="download-button">
					Download for {{ download.version }}
				</a>
				<a href="{{ url }}#t1:other-downloads" class="btn btn-sm btn-curse" target="_blank" id="all-button">
					View all {{ files|length }} downloads
				</a>
			</div>
		</div>
	</div>
	<a class="about-widget" href="/" target="_blank" id="about-widget" title="Learn more about widget">
		&iquest;
	</a>
</div>
{% endblock %}